.historia {
    margin: 18em 12em 4em 12em;
}

.historia__container {
    display: flex;
    gap: 5em;
}

.historia__imagem {
    border-radius: 1em;
    border: 8px solid var(--azul-secundario);
    height: 80%;
    align-self: center;
}

.historia__imagem:hover {
 height:82%;
}

.historia__texto {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    white-space: none;
}

.historia__paragrafo {
    width: 78%;
}

.historia__link {
    width:7em;
    border: 2px solid var(--azul-secundario);
    background-color: var(--cor-branco);
    color :var(--azul-secundario);
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
}

.historia__link:hover {
    background-color: var( --azul-secundario);
    color :var(--cor-branco);
}